version: "3.8"

services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: fabzclean
      MYSQL_USER: fabz
      MYSQL_PASSWORD: fabzpass
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  app:
    build: .
    volumes:
      - ./:/app
    environment:
      - DATABASE_URL=mysql+pymysql://fabz:fabzpass@db:3306/fabzclean
      - JWT_SECRET_KEY=replace_jwt
      - SECRET_KEY=replace_secret
      - ADMIN_EMAIL=admin@example.com
      - ADMIN_PASSWORD=supersecurepassword
    ports:
      - "3000:3000"
    depends_on:
      - db

volumes:
  db_data:

