name: Build Mac App

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 20

    - name: Install Dependencies
      run: npm install

    - name: Build Mac DMG
      run: npm run electron:build:mac
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload Mac Artifact
      uses: actions/upload-artifact@v4
      with:
        name: FabzClean-Mac-Setup
        path: dist-electron/*.dmg
